<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="luxe.chaos.choss.auth.dao.TokenMapper">

    <resultMap id="tokenResultMap" type="luxe.chaos.choss.auth.entity.Token">
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="expire_time" jdbcType="INTEGER" property="expireTime"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="refresh_time" jdbcType="TIMESTAMP" property="refreshTime"/>
        <result column="active" jdbcType="INTEGER" property="active"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
    </resultMap>


    <!-- useGeneratedKeys="true"
            keyProperty="id" keyColumn="id"
            -->
    <insert id="add"
            parameterType="luxe.chaos.choss.auth.entity.Token">

        INSERT INTO token
        (id, expire_time, user_id, create_time, refresh_time)
        VALUES
        (#{token.id}, #{token.expireTime}, #{token.userId},
        #{token.createTime}, #{token.refreshTime}
        )

    </insert>

    <delete id="delete" parameterType="string">
        DELETE FROM token
        WHERE id = #{id}
    </delete>

    <update id="update" >
        UPDATE token
        SET expire_time = #{expireTime}
        , active = #{active}
        , refresh_time = #{refreshTime}
        WHERE id = #{id}
    </update>


    <select id="getById" parameterType="string" resultMap="tokenResultMap">
        SELECT *
        FROM token
        WHERE id = #{id}
    </select>

    <select id="getDefault" parameterType="string" resultMap="tokenResultMap">
        SELECT *
        FROM token
        WHERE user_id = #{userId}
        ORDER BY create_time ASC
        LIMIT 1
    </select>

    <select id="getByUserId" parameterType="string"  resultMap="tokenResultMap">
        SELECT *
        FROM token
        WHERE user_id = #{userId}
        ORDER BY refresh_time DESC
    </select>

</mapper>